<footer>
    <div class="container-footer">
        <!-- <p>&copy; <%= new Date().getFullYear() %> Hak Cipta oleh AknalRe</p> -->
        <!-- <p>Copyright &copy; <%= new Date().getFullYear() %> <%= author %></p> -->
        <p>Hak Cipta &copy; <%= new Date().getFullYear() %>
                <%= author %>
        </p>
    </div>
</footer>